h1,h2{
    color: yellow;
}

.cont-error{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px !important;
    gap: 40px;
}

img{
    width: 100px;
}