<div class="container pt-5">
    <div class="drop-component d-flex justify-content-center w-100 pt-5">
      <div
        class="pt-3 pb-5 mt-5 bg-dark px-3 rounded-3 w-100" 
        style=" max-width: 450px"
      >
        <h3 class="text-center f-pacman mt-4">sala de</h3>
        <h2 class="text-center f-pacman juegos-title">
          <div>1 2 2 juegos </div>
          <div> 2 </div>
          <div> 2 </div>
          <div class="blue-ghost">9</div>
          <div class="pink-ghost">9</div>
    
        </h2>
        <div class="row justify-content-center">
          <div class="col-10 mt-5 mb-4">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="Email">
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
              <label for="floatingPassword">Contraseña</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-warning btn-pac col-6">REGISTRARSE</button>
          </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
              <button class="btn btn-link link-pac col-4">Login</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  