<div class="container text-yellow py-3 py-md-5">
  <div class="drop-component row gap-5 justify-content-center mt-5 text-center">
    <div class="card bg-dark col-11 col-md-8 col-xl-5">
      <div class="img-cont">
        <img class="card-img-top" src="./../../../assets/images/ahorcado.png" />
      </div>
      <div class="card-body">
        <h2 class="card-title">AHORCADO</h2>
        <p class="card-text">
          Adivina la palabra antes de que el pobre hombre de palitos muera, podras hacerlo?
        </p>
        <div class="w-100 d-flex justify-content-center">
          <button routerLink="/ahorcado" class="btn btn-red-outline">
            Jugar
          </button>
        </div>
      </div>
    </div>
    <div class="card bg-dark col-11 col-md-8 col-xl-5">
      <div class="img-cont">
        <img
          class="card-img-top"
          src="./../../../assets/images/mayoromenor.png"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h2 class="card-title">MAYOR O MENOR</h2>
        <p class="card-text">
          Se tendras una carta y deberas adivinar si la siguiente carta del mazo es mayot o menor 
        </p>
        <div class="w-100 d-flex justify-content-center">
          <button routerLink="/mayoromenor" class="btn btn-red-outline">
            Jugar
          </button>
        </div>
      </div>
    </div>
    <div class="card bg-dark col-11 col-md-8 col-xl-5">
      <div class="img-cont d-flex justify-content-center align-items-center">
        <div style="font-size: 250px;">
          ?
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-title">PREGUNTADOS</h2>
        <p class="card-text">
         Pone en practica tis conocimientos en este juego de preguntas y respuestas
        </p>
        <div class="w-100 d-flex justify-content-center">
          <button routerLink="/preguntados" class="btn btn-red-outline">Jugar</button>
        </div>
      </div>
    </div>
    <div class="card bg-dark col-11 col-md-8 col-xl-5">
      <div class="img-cont">
        <img class="card-img-top" src="./../../../assets/images/count.png" />
      </div>
      <div class="card-body">
        <h2 class="card-title">CUENTA Y ACIERTA</h2>
        <p class="card-text">
          Debes lograr parar el contador exactamente an el segundo 5:00 para ganar
        </p>
        <div class="w-100 d-flex justify-content-center">
          <button routerLink="/acierta" class="btn btn-red-outline">
            Jugar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
