<div class="container text-yellow py-3 py-md-5">
  <div class="drop-component row gap-5 justify-content-center mt-5 text-center">
    <div class="card bg-dark col-11 col-md-8 col-xl-5">
      <div class="img-cont">
        <img
          class="card-img-top"
          src="./../../../assets/images/ahorcado.png"
        />
      </div>
      <div class="card-body">
        <h2 class="card-title ">AHORCADO</h2>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. 
        </p>
        <div class="w-100 d-flex justify-content-center">
          <button routerLink="/ahorcado" class="btn btn-red-outline">Jugar</button>
        </div>
      </div>
    </div>
    <div class="card bg-dark col-11 col-md-8 col-xl-5">
      <div class="img-cont">
      <img
        class="card-img-top"
        src="./../../../assets/images/mayoromenor.png"
        alt="Card image cap"
      />
    </div>
      <div class="card-body">
        <h2 class="card-title">MAYOR O MENOR</h2>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="w-100 d-flex justify-content-center">
          <button routerLink="/mayoromenor" class="btn btn-red-outline">Jugar</button>
        </div>
      </div>
    </div>
    <div class="card bg-dark col-11 col-md-8 col-xl-5">
      <div class="img-cont">
      <img
        class="card-img-top"
        src="./../../../assets/favicon.png"
        alt="Card image cap"
      />
    </div>
      <div class="card-body">
        <h2 class="card-title">PREGUNTADOS</h2>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="w-100 d-flex justify-content-center">
          <button class="btn btn-red-outline">Jugar</button>
        </div>
      </div>
    </div>
  </div>
</div>
