<div class="container">
  <div class="row justify-content-center mt-5">
    <div
      class="
        col-12 col-md-8 col-lg-5
        rounded
        bg-dark
        d-flex
        flex-wrap
        justify-content-center
        p-5
      "
    >
      <div class="card-cont">
        <div #mainCard class="my-card">
          <div class="number-top">{{mainCardNumber}}</div>
          <div class="number-bottom">{{mainCardNumber}}</div>
          <div class="circle big"></div>
          <div class="circle small"></div>
        </div>
        <div #guessCard class="my-card hide">
          <div class="number-top">{{guessCardNumber}}</div>
          <div class="number-bottom">{{guessCardNumber}}</div>
          <div class="circle big"></div>
          <div class="circle small"></div>
        </div>
      </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-12 col-md-8 col-lg-5 d-flex justify-content-around">
            <div class="col-5">
                <button #btnm (click)="mayoromenor('menor')" class="btn btn-pac w-100">Menor</button>
            </div> 
            <div class="col-5 d-flex">
                <button #btnM (click)="mayoromenor('mayor')" class="btn btn-pac w-100">Mayor</button>
            </div> 
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-12 col-md-8 col-lg-5 d-flex justify-content-around">
          <div class="col-6 col-md-4">
              <button #btnr (click)="reserGame()" class="btn btn-pac w-100">Volver a Jugar</button>
          </div> 
      </div>
  </div>
  </div>
  <p-toast position="top-center" key="bc"></p-toast>
</div>
