<div class="nav w-100 bg-dark">
  <div class="container">
    <div class="row m-0 w-100 h-100 align-items-center ">
      <div class="col-12 d-flex justify-content-between">
        <button class="btn btn-warning btn-pac" >Quien Soy</button>
        <div class="profile-circle">
          <img src="./../../../assets/images/red-ghost.png" alt="">
        </div>
        <!-- <button class="btn btn-outline-warning btn-pac-outline" >Desloguearse</button> -->
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>