<div class="nav w-100 bg-dark">
  <div class="container">
    <div class="row m-0 w-100 h-100 align-items-center ">
      <div class="col-12 d-flex justify-content-between">
        <div class="d-flex gap-2">
          <button *ngIf="router.url !== '/quien-soy'" class="btn btn-warning btn-pac" [routerLink]="['/quien-soy']" >Quien Soy</button>
          <button *ngIf="router.url !== '/home' && this.auth.isLogged" class="btn btn-warning btn-pac" [routerLink]="['/home']" >Home</button>
          <button *ngIf="router.url == '/quien-soy' && !this.auth.isLogged" class="btn btn-warning btn-pac" [routerLink]="['/login']" >Login</button>
        </div>
        <div *ngIf="this.auth.isLogged" class="dropdown">
          <div class="profile-circle dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./../../../assets/images/red-ghost.png" alt="">
          </div>
          <ul class="bg-dark dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item user-name" >{{this.auth.userName}}</a>
            </li>
            <div class="spliter mb-3"></div>
            <li><a class="dropdown-item" >Action</a></li>
            <li><a class="dropdown-item" >Action</a></li>
            <li><a class="dropdown-item" >Action</a></li>
            <li>
              <a class="dropdown-item logout" (click)="this.auth.logout()">
                <i class=" bi bi-box-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- <button class="btn btn-outline-warning btn-pac-outline" >Desloguearse</button> -->
      </div>
    </div>
  </div>
</div>