.nav{
    position: fixed;
    z-index: 100;
    height: 70px;
}

.profile-circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #323232;
}

.profile-circle img{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 60%;
    height: 60%;
    object-fit: contain;
    object-position: top;
}
