<div class="nav w-100 bg-dark">
  <div class="container">
    <div class="row m-0 w-100 h-100 align-items-center ">
      <div class="col-12 d-flex justify-content-between">
        <button class="btn btn-warning btn-pac" >Quien Soy</button>
        <div *ngIf="this.loggedIn" class="dropdown">
          <div class="profile-circle dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./../../../assets/images/red-ghost.png" alt="">
          </div>
          <ul class="bg-dark dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">usuario bla bla</a></li>
            <li><a class="dropdown-item" href="#">Desloguearse</a></li>
          </ul>
        </div>
        <!-- <button class="btn btn-outline-warning btn-pac-outline" >Desloguearse</button> -->
      </div>
    </div>
  </div>
</div>