#quien{
    color: yellow;
}

.foto-cont{
    position: relative;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.foto-cont:after{
    content: "";
    display: block;
}

.foto-cont img{
    width: 100%;
    height: 100%;
}