/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Pac-man";
    src: local("Pac-man"), url(./assets/fonts/PAC-FONT.TTF) format("truetype");
}


body{
    background-image: url('./assets/images/fondo_pacman.jpg');
}

.btn-pac-outline{
    color: yellow;
    font-weight: 700;
    border:1px solid yellow;
}

.btn-pac{
    background-color: yellow;
    font-weight: 700;
    transition: all .3s ease-out;
}

.btn-pac:hover{
    background-color: yellow;
    transform: scale(1.05);
}

.btn-pac:focus,
.btn-pac:active{
    background-color: yellow;
    box-shadow: none;
}

.link-pac{
    color: yellow !important; 
}
