/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Pac-man";
    src: local("Pac-man"), url(./assets/fonts/PAC-FONT.TTF) format("truetype");
}


body{
    background-image: url('./assets/images/fondo_pacman.jpg');
}

.btn-pac-outline{
    color: yellow;
    font-weight: 700;
    border:1px solid yellow;
}

.btn-pac{
    background-color: yellow;
    font-weight: 700;
    transition: all .3s ease-out;
}

.btn-pac-outline{
    border: yellow solid 2px;
    color: yellow;
    transition: all .3s ease-out;

}

.btn-pac:hover{
    background-color: yellow;
    transform: scale(1.05);
}

.btn-pac-outline:hover{
    background-color: transparent;
    border: yellow solid 2px;
    color: yellow;
    transform: scale(1.05);
}

.btn-red-outline{
    border: red solid 2px;
    color: red;
    transition: all .3s ease-out;
}

.btn-red-outline:hover{
    background-color: transparent;
    border: red solid 2px;
    color: red;
    transform: scale(1.05);
}

.btn-pac-outline:focus,
.btn-pac-outline:active{
    box-shadow: none;
}

.btn-pac:focus,
.btn-pac:active{
    background-color: yellow;
    box-shadow: none;
}

.link-pac{
    color: yellow !important; 
}

.drop-component{
    position: relative;
    animation: .7s ease-out 0s 1 drop;
}

@keyframes drop{
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
}

.text-yellow{
    color: yellow !important;
}